body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:azure;
    font-size:20px;
}
ul li{
    color:crimson;
}
ul li:hover{
    color:aquamarine;
}
ul li::before{
    content:"🌍 ";
}
ul li::after{
    content:" 🌊⛰️🔥🌪️";
}
ul li:nth-child(3){
    color:blue;
}
p::first-letter{
    font-size:40px;
    color:chartreuse;
}
p:not(:first-of-type){
     text-decoration:underline;
}
ul>li{
    font-weight:bolder;
}
h1+p{
    background-color:lightcoral;
}

